html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

.header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

.card {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.github-stats {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap; 
}

.github-stats img {
    max-width: 100%;
    height: auto; 
}


body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.dark-mode .card {
    background: #424242;
    color: #f4f4f4;
}

.dark-mode a {
    color: #f4f4f4;
}

.dark-mode h2 {
    color: #f4f4f4;
}

.dark-mode .header {
    background: #222;
    color: #f4f4f4;
}

.dark-mode #dark-mode-toggle {
    background: pink;
    color: #333;
}

.dark-mode #dark-mode-toggle:hover {
    background: hotpink;
    color: #333;
}

#dark-mode-toggle {
    position: fixed;
    left: 0;
    top: 45%;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

#dark-mode-toggle:hover {
    background: #101010;
}

.dark-mode a, .dark-mode a:hover {
    color: pink;
}

.header h1 {
    color: snow;
}

.dark-mode .header h1 {
    color: pink;
}

section:hover {
    background-color: #f8f8f8;
}

.dark-mode section:hover {
    background-color: #484848;
}
